<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Pepoal Page</title>
</head>

<body>
     <!-- Navber -->
    <%- include('./partials/nav.ejs') %>

   <% if(locals.users) { %>
    <div class="container mt-5">
    <div class="list-group">
        <% locals.users.forEach((user) => { %>
            <div class="row">
            <div class="col-sm-12 mb-3 mb-sm-0" style="margin-left: 320px;">
        <img src="<%= user.profileImage %>" alt="Profile Picture" style="width: 50px; height: 50px; margin: 8px 0px 8px 0px;" class="rounded-circle">                
        <a href="<%= `/app/chats-page/${user._id}` %>" class="list-group-item list-group-item-action" style="display: inline; border: none; padding: 10px 10px 10px 10px"><%= user.name %></a>
    </div>
</div>
<% }) %>
</div>
</div>
 <% } else { %>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">User Not Found</a>
    </div>

    <% } %>
<!-- script -->
   <%- include("./partials/script.ejs") %>
   
</body>
</html>