<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Profile page</title>
    <%- include('./partials/style.ejs') %>   
</head>

<body>
  <div class="container mt-6">
    <div class="mb-3">
    <form action="<%= `/user/remove-profile/${locals?.user?._id}` %>"  method="post" enctype="multipart/form-data">
            <button type="submit" class="btn btn-primary">Remove Profile Photo</button>
    </form>
</div>
<div class="mb-3">
    <form action="<%= `/app/update-profile` %>" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">Edit Profile</button>
    </form>
</div>
  </div>
    <%- include("./partials/script.ejs") %>
</body>

</html>